/*this is a component css*/

.RootProps {
    background-repeat: repeat;
}

.label1Props {
    overflow: hidden;
}

.root_v1Props {}

.Button4Props {}

.Button5Props {}

.Button7Props {}

.Button12Props {}

.Button13Props {}

.btn6_0001Props {}

.Label9Props {
    overflow: hidden;
}

.Subform3Props {}

.Label10Props {
    overflow: hidden;
}

.RouterOutlet1Props {}

.Label11Props {
    overflow: hidden;
}

.Subform8Props {}