<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="B"
        class="BProps mgColor11"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label2"
                class="Label2Props"
            >
                B_v1:
                </label>
                <div>
                    <input
                        type="text"
                        formControlName="B_v1"
                        magic="B_v1"
                        class="B_v1Props"
                        pattern="^.{0,10}$"
                    />
                    <div *ngIf="(screenFormGroup.get('B_v1').touched) && (
                        screenFormGroup.get('B_v1').hasError('pattern')
                        
                        )">
                        <p>{{ showErrMsg('B_v1') }}</p>
                    </div>
                </div>
        </div>
        </div>
        </form>