/*this is a component css*/

.overlayProps {
    background-repeat: repeat;
}

.Label2Props {
    overflow: hidden;
}

.overlay_v1Props {}

.Label4Props {
    overflow: hidden;
}

.overlay_v2Props {}

.Label6Props {
    overflow: hidden;
}

.overlay_v3Props {}

.Label8Props {
    overflow: hidden;
}

.overlay_v4Props {}